div {
    overflow: auto;
}

img#present {
    width: 10%;
    float: left;
    margin: 40px;
    padding: 25px;
}

h1 {
    text-align: center;
}

p#empleo_actual {
    text-align: center;
}

p#contact {
    text-align: center;
}

img.img_contact {
    width: 1.5%;
    vertical-align: middle;
}

p#description {
    text-align: center;
}