div#cabecera {
    width: 85%;
    margin: 20px auto;
    padding: 15px;
    /*overflow: auto no deja que se salgan las imágenes del espacio DIV*/
    overflow: auto;
    background-color: rgb(200, 200, 230);
}

img#present {
    width: 10%;
    float: left;
    margin: 40px;
    padding: 25px;
    margin-right: 13px;
}

h1 {
    text-align: center;
}

p#empleo_actual {
    text-align: center;
}

p#contact {
    text-align: center;
}

img.img_contact {
    width: 1.5%;
    vertical-align: middle;
}

p#description {
    text-align: center;
}